<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         bootstrap="tests/bootstrap.php"
         colors="true">
  <testsuites>
    <testsuite name="Monk ID PHP">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <source> 
      <include> 
          <directory suffix=".php">lib</directory> 
      </include> 
  </source>
  <php>
    <ini name="display_errors" value="1" />
    <ini name="error_reporting" value="22517" />
  </php>
</phpunit>
